<h1>Collections</h1>

<table id="collections" class="display" data-source="<%= collections_url(format: "json") %>">
  <thead>
    <tr>
      <th>Collection Name</th>
      <th>Description</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<p><%= link_to "New Collection", new_collection_path %></p>
