<h1>Listing Primary Documents</h1>

<table id="primary_documents" class="display" data-source="<%= primary_documents_url(format: "json") %>">
  <thead>
    <tr>
      <th width="20%">Title</th>
      <th>Location</th>
      <th width="50%">Content</th>
      <th>Background</th>
      <th>Publication date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<br />

<%= link_to 'New Primary document', new_primary_document_path %>
